@import "base/variables";
@import "base/maps";
@import "base/extend";
@import "base/mixin";
@import "componentes/nav";

* {
    margin: 0;
    padding: 0;
  /*pagina principal */
  }
  body{
    background-color:aliceblue;
  }
  .title {
    font-style: oblique;
    font-size: 50px;
    text-align: center;
    color: $gris;
  }
 
  .parallax {
    background-image: url("./img/bandera.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
  }
  main section article img {
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
  }
  .instituciones{
    text-align: center;
  }
  .info{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .txtInst p{
    padding: 30px;
    font-size: 1.3rem;
  }
  .txtInst img {
    border-radius: 30px;
  }
  .nuestroPueblo h2 {
    text-align: center;
    font-size: 3rem;
    color: $gris;
  }
  .sobreNosotros {
    display: flex;
    align-items: center;
  }
  .sobreNosotros p {
    padding: 30px;
    text-align: center;
  }
  .lista {
    text-align: center;
    list-style: none;
    text-decoration: none;
    border: solid 2px black;
    display: inline-block;
    text-align: center;
  }
  .back {
    text-decoration: none;
    border-radius: 8px;
    text-transform: uppercase;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: $celeste;
    padding: 5px;
  }
  .noticia {
    text-align: center;
  }
  .subtitulo{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  } 

  
  .parrafoNoticia {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  /* galeria */
  .paralaxGaleria {
    background-image: url("./img/piquillinParalax.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
  }

  .imgNino{
    margin-top: 20px;
    margin-bottom: 20px;
    display:grid;
    grid-template-columns: repeat(3,0.5fr);
    grid-template-rows: repeat(3,0.5fr);
    gap: 10px;
    justify-items: center;
  }

  
  /* contacto*/

  fieldset{
    display: flex;
    flex-direction: column;
  }
  .form__container--fieldset{
    padding: 15px;
    width: 40%;
    color:black;
    font-weight: bold;
    background:$celeste;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
  }
 
  /*pie de pagina */
  footer {
    margin-top: 1rem;
    background-color: $gris;
    padding: 20px;
  }
  footer a {
    text-decoration: none;
    color: white;
  }

.subtitulo{
  color: $gris;
}
  @media only screen and (max-width: 768px){
    body{
      flex-direction: column;
      align-items: center;
    }
    nav {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    nav .animation {
      display: none;
    }
    /*index*/
    .sobreNosotros {
      flex-direction: column;
    }
  
    .sobreNosotros img {
      width: 500px;
    }
    .imgPrincipal{
      flex-direction: column;
      justify-content: center;
    }
    .txtInst {
      flex-direction: column-reverse;
    }
    .txtInst img {
      width: 500px;
    }
    #imagenNoticia{
      flex-direction: column;
    }
    .imgNoticia{
      flex-direction: column;
    }
    /* galeria */
    .imgNino{
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(5,1fr);
    }
    .imgConsejo{
        flex-wrap: wrap;
    }
    /* actividades*/
    .imgHockey{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(2,1fr);
      justify-items: center;
    }
    .imgPatin{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(2,1fr);
      justify-items: center;
    }
  }
  @media only screen and (max-width: 576px){
    body{
      flex-direction: column;
      align-items: center;
    } 
    nav {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    nav .animation {
      display: none;
    }
    /*index*/

    .sobreNosotros {
      flex-direction: column;
    }
  
    .sobreNosotros img {
      width: 500px;
    }
     .imgPrincipal{
      flex-direction: column;
      justify-content: center;
    }
    .txtInst {
      flex-direction: column-reverse;
    }
    .txtInst img {
      width: 500px;
    }
    #imagenNoticia{
      flex-direction: column;
    }
    .imgNoticia{
      flex-direction: column;
    }

    /* galeria*/
    .imgNino{
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(9,1fr);
      justify-items: center;
    }
    .imgConsejo{
        flex-wrap: wrap;
    }
    /* actividades*/
    .imgHockey{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(2,1fr);
      justify-items: center;
    }
    .imgPatin{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(2,1fr);
      justify-items: center;
    }
  }