%disposicion{
    display: flex;
    justify-content: space-evenly;

}
.imgHockey{
    @extend %disposicion;
    margin-top: 20px;
    margin-bottom: 20px;
  }
.imgPatin{
    @extend %disposicion;
    margin-top: 20px;
    margin-bottom: 20px;
  }
.imgConsejo{
    margin-top: 20px;
    margin-bottom: 20px;
    @extend %disposicion;
  }
.imgPrincipal{
    @extend %disposicion;
}
.imgNoticia{
  @extend %disposicion;
}