@mixin vista{
    display: flex;
    justify-content: center;
}
@mixin margen {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form__container{
  @include vista();
  margin-top: 1rem;
  }
.primerTitulo{
  text-align: center;
  @include margen();
}
.parrafoInstituciones {
  @include vista();
  @include margen();
  text-align: center;   
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.boton{
  text-align: center;
  @include margen();
}
.txtAct{
  text-align: center;
  @include margen();
}
.ubicacion{
    @include vista();
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
.txtInst{
    @include vista();
  }
.mapa{
    @include vista();
    align-items: center;
    margin-bottom: 1rem;
}